{% extends "base.html" %}
{% load static %}

<link rel="shortcut icon" href="/Blog/static/Blog/images/blog.png" type="image/x-icon">
{% block title %}
All My posts
{% endblock  %}

{% block css_files %}
<link rel="stylesheet" href="{% static "Blog/post.css" %}"> 
<link rel="stylesheet" href="{% static "Blog/all-posts.css" %}"> 
{% endblock  %}

{% block content %}

<section id="all-posts">
    <ul>
        {% for post in all_posts %}
        {% include "Blog/includes/post.html" %}
        {% endfor %}
    </ul>
</section>

{% endblock %}